:root{
    --color-type-1-900: rgba(0, 119, 255);
    --color-type-2-900: rgba(0, 255, 255);
}

/* ------- NAVBAR ------- */
.my-navbar{
    background-color: rgb(159, 210, 212) !important;
}
.hover-zoom{
    transition: all 0.7s;
}
.hover-zoom:hover{
    transform: rotate(360deg);
}

/* ------- ! NAVBAR ------- */

/* ---------- HOME PAGE ---------- */

.main-logo{
    transition: all 0.6s;
}
.main-logo:hover{
    transform: rotate(45deg);
}

/* ---------- ! HOME PAGE ---------- */

/* --------- FOR COMMENTS OF THE POSTS ----------- */
#ch{
    display: none;
}
#ch:checked ~ .more-comments{
    display: block;
}
.more-comments{
    display: none;
}



.indexContainer{
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* height: 100vh; */
    width: 100%;
    overflow-y: hidden;
    background-image: linear-gradient(0deg, rgba(0, 255, 255, 0.8), rgba(0, 119, 255, 0.8)), url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/46e8bacfa13d5e5ab7947ff9/-min.jpg");
}
.post{
    margin: 10px auto;
}
.post-box{
    margin-top: 5%;
}
.container1{
    margin-top: 200px;
    height: 50%;
    width: 60%;
    text-align: center;
    /* background-color: aqua; */
}
.container1 h4{
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
    margin-top: 20px;
}
.users{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    height: 50px;
    width: 150px;
    font-weight: bold;
    /* font-size: 20px; */
    border-radius: 25px;
    border: 2px solid white;

}
.user:hover{
    color: rgb(29, 26, 26);
    background-color: aliceblue;
   font-weight: bolder;
    cursor: pointer;
}

/* =======================================
--------------- SIGN UP ------------------
======================================= */

.signup{
    max-width: 70%;
    /* background-color: rgba(46, 46, 46, 0.8); */
    padding: 10px;
    border-radius: 10px;
}


/* -------- LOG IN ---------- */

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
    height: 100%;
}
}
@media only screen and (max-width: 620px){
    .h-custom{
        width: 80% !important;
        margin-top: 3rem;
    }
}


/* -------- PROFILE ---------- */
.profile-post{
    height: 23rem;
}   

/*----- ADMIN  -------*/

.admin-logo{
    transition: all 0.5s;
}

.admin-logo:hover{
    transform: rotateY(360deg);
}

/*----- !ADMIN  -------*/

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
    }

    @media only screen and ( max-width:500px) {
        #createpost-image-section{

            flex-direction: column;
        }

        #imagepreview{
            margin-top: 2rem;
        }
    }

/* =========== HOMEPAGE RESPONSIVENESS ===================== */

@media only screen and ( max-width:940px) {
    .main-second{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and ( max-width:775px) {
    .main-first{
        flex-direction: column;
        margin-top: 15rem !important;
        align-items: center;
    }
    .main-second{
        margin-top: 15rem !important;
    }
    .main-first-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* =========== ! HOMEPAGE RESPONSIVENESS ===============


/* =========== PROFILE PAGE RESPONSIVENESS ===================== */

@media only screen and ( max-width:940px) {
    .profile-post{
        height: 18rem;
    }
}
@media only screen and ( max-width:775px) {
    .profile-post{
        height: 13rem;
    }
}

/* =========== ! PROFILE PAGE RESPONSIVENESS ===============*/

/* =========== ADMIN ADD BUTTON =============*/

@media only screen and ( max-width:950px) {
    .admin-add-button{
        flex-direction: column;
    }
}

@media only screen and ( max-width:630px) {
    .admin-add-button button{
        width: 80% !important;
    }
}

@media only screen and ( max-width:400px) {
    .admin-add-button button{
        width: 90% !important;
    }
}

/* =========== ! ADMIN ADD BUTTON ============*?











