
<div class="footer">© <%= new Date().getFullYear(); %> Company, Inc </div>
<script src="/styles/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/styles/mdb/mdb.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add("was-validated")
    }, false)
  })
})()

function hide(){
  document.getElementById("toasts").classList.remove("show");
}
setTimeout("hide()", 3000);


// ================ SHOWO IMAGE PREVIEW REMOVE  ===============

  var inputImage = document.getElementById("postformimage");
  var previewImage = document.getElementById("imagepreview");
  var removeImage = document.getElementById("inputGroupFileAddon04");

  inputImage.addEventListener("change", function(event){
    if(event.target.files.length == 0){
      return;
    }
    var tempUrl = URL.createObjectURL(event.target.files[0]);
    previewImage.setAttribute("src", tempUrl);
  })

  removeImage.addEventListener("click", function(event){
    previewImage.setAttribute("src", "");
    const dt = new DataTransfer();
    inputImage.files = dt.files;
  })

// ================ ! SHOW IMAGE PREVIEW AND REMOVE ===============

</script>
</body>
</body>