
<div class="footer">© <%= new Date().getFullYear(); %> Company, Inc </div>
<script src="/styles/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/styles/mdb/mdb.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()

function hide(){
  document.getElementById("toasts").classList.remove("show");
}
setTimeout("hide()", 3000);

</script>
</body>
</body>